<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<title>Arbol de seguimiento</title>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
</head>
<script type="text/javascript" src="{% static "bootstrap/js/jquery.js"%}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
<body>
	<h1>Arbol de seguimiento</h1>
</body>